.bar1 ,.bar2 ,.bar3{
    background-color: black;
    width: 30px;
    padding: 2px;
    margin: 6px 0px ;
    transition: 0.4s;
    
}
.container{
    display: inline-block;
    cursor: pointer;
}
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px ,6px);
     transform: rotate(-45deg) translate(-9px,6px);
}
.change .bar2{
    opacity: 0;
} 
.change  .bar3{
    -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform: rotate(45deg) translate(-8px,-8px);

}